.dungeon {
  display: flex;
  flex-direction: column;
  width: 1280px;
  display: block;
  margin: 0 auto;
}

.dungeon-game {
  display: flex;
  flex-direction: column;
  outline: none;
}

.dungeon-game:focus {
  outline: none;
}

.dungeon-row {
  display: flex;
}

.dungeon-cell {
  width: 32px;
  height: 32px;
  background-color: white;
  background-size: 256px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.dungeon-cell.empty {
  background-color: white;
}

.dungeon-cell.wall {
  background-color: black;
}
